.gis_MeasurementDijit {
    width: 100%;
}
.gis_MeasurementDijit .coordText {
	width:100px;
}

.gis_MeasurementDijit .coordText2 {
    width:80px;
}

.gis_MeasurementDijit .coordSelect {
    margin-bottom: 10px;
    width: 100%;
}

.gis_MeasurementDijit .contentCenter {
    text-align: center;
}

.gis_MeasurementDijit label {
	font-weight:bold;
	margin-left: 5px;
}

.gis_MeasurementDijit .section {
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: thin solid rgb(51, 51, 51);
    text-align: center;
    font-weight: bold;
}
