<div class="gis_AirfieldStatusDijit">
    <div class="formContainer">
        <div style="padding:5px;">
			<div class="FeatureStatusDijit" data-dojo-attach-point="FeatureStatusDijit">
				<div class="sbtTools">
					<strong>Select Feature</strong>
					<span data-dojo-attach-point="featureselect" class="featureselect toolIcon selectIcon" title="Click to activate the locate feature tool."></span>
				</div>
				<div class="sbtHelp">
					<strong>Tips</strong>
					<ul class="searchTips">
						<li>Activate the locate feature tool. </li>
						<li>Click on a map feature to display the current status.</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

